# coding: utf-8

"""
    APITUDE BOOKINGAPI

    BOOKINGAPI is designed to book hotels in real time as fast as in two steps. It covers the complete booking process; it allows generating lists of hotels, confirming bookings, getting lists of bookings, obtaining booking information, making cancellations and modify existing bookings.   BOOKINGAPI works in combination with CONTENTAPI to obtain content information from the hotels, such as pictures, description, facilities, services, etc. Please refer to the ContentAPI documentation and IO/DOCS for related information.    BOOKINGAPI has been designed for a two steps confirmation, but due the the complexity of client and providers systems a third method has been designed.

    OpenAPI spec version: 1.0
    Contact: apitude@hotelbeds.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class HotelsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def availability(self, version, body, **kwargs):
        """
        Hotel availability
        This method is used to request room availability. Some filters and special features can be applied before sending an availability request.   A flexible date search allows customers to retrieve available rates for a specified number of days prior to and post check-in.  The response generated is a list of hotels with the different room types, board types, and rates available for those hotels; but not only restricted to the dates selected.  BookingAPI prices are final. Our rates include supplements and discounts and no additional price calculations are required.  It can also return cancellation fees in the availability response, providing amounts and dates at the first step of the booking.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.availability(version, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str version: Default version for this operation (required)
        :param AvailabilityRQ body: Request body (required)
        :return: AvailabilityRS
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.availability_with_http_info(version, body, **kwargs)
        else:
            (data) = self.availability_with_http_info(version, body, **kwargs)
            return data

    def availability_with_http_info(self, version, body, **kwargs):
        """
        Hotel availability
        This method is used to request room availability. Some filters and special features can be applied before sending an availability request.   A flexible date search allows customers to retrieve available rates for a specified number of days prior to and post check-in.  The response generated is a list of hotels with the different room types, board types, and rates available for those hotels; but not only restricted to the dates selected.  BookingAPI prices are final. Our rates include supplements and discounts and no additional price calculations are required.  It can also return cancellation fees in the availability response, providing amounts and dates at the first step of the booking.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.availability_with_http_info(version, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str version: Default version for this operation (required)
        :param AvailabilityRQ body: Request body (required)
        :return: AvailabilityRS
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['version', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method availability" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'version' is set
        if ('version' not in params) or (params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `availability`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `availability`")


        collection_formats = {}

        path_params = {}
        if 'version' in params:
            path_params['version'] = params['version']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json', 'application/xml'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/{version}/hotels', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='AvailabilityRS',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
